body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
}

form {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 400px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1em;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
}

input[type="submit"] {
    background-color: #2575fc;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #6a11cb;
}

#confirmationMessage {
    margin-top: 20px;
    font-size: 1.2em;
    color: #155724;
    background-color: #d4edda;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

#fee {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}